* {
    margin:0;
    padding:0;
}
body {
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(92, 191, 191);
}
.container {
    background-color: pink;
    padding:2rem;
    border-radius: 1rem;
    min-height: 50vh;
    width: 50vh;
}
form {
    margin:2rem 0 1rem 0;
}
form select,
button,
input {
    width: 100%;
    border: none;
    outline: none;
    border-radius:0.75rem;
}
form input {
    margin-top:0.75rem;
    border: 1px solid lightgray;
    font-size: 1rem;
    height: 2rem;
    padding: 0.5rem;
}
.dropdown{
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin-top: 2rem;
}
.dropdown i{
    font-size: 1.5rem;
    margin-top: 1rem;
}
.Select-Container img {
    max-width: 3rem;
}
.Select-Container{
    display:flex;
    justify-content: center;
    align-items:center;
    width:6rem;
    border-radius:0.5rem;
    border:1px solid lightgray;
}
.Select-Container select{
    font-size: 1rem;
    width:auto;
}
.msg{
    margin: 2rem 0 2rem 0;
}
form button{
    height: 3rem;
    background-color: purple;
    color:white;
    font-size: 1.15rem;
    cursor: pointer;
}